<% content_for :welcome do %>
  <%= t('teams') %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Reprezentacja?</th>
      <th>Logo</th>
      <th>Właściciel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.national == true ? "tak" : "nie" %></td>
        <td><%= image_tag team.flag.url(:tiny), :class => "z-depth-3" %></td>
        <td><%= team.user %></td>
        <td><%= link_to 'Więcej', team %></td>
        <td><%= link_to 'Edytuj', edit_team_path(team) %></td>
        <td><%= link_to 'Usuń', team, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
