<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>National:</strong>
  <%= @team.national %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @team.flag.url(:small) %>
</p>

<p>
  <strong>User:</strong>
  <%= @team.user_id %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
