<% content_for :welcome do %>
  <%= t('edit_user') %>
<% end %>

<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label t('name') %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control', id: 'name' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', id: "email" %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <p>Pozostaw te pola puste, jeśli nie chcesz zmieniać hasła.</p>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control', id: 'password' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control', id: 'passwordconfirmation' %>
      </div>
    </fieldset>
    <fieldset>
      <p>Żeby zatwierdzić zmiany, musisz podać swoje hasło.</p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control', id:'currentpassword' %>
      </div>
    </fieldset>
    <%= f.submit 'Aktualizuj', :class => 'button right', id: 'update' %>
  <% end %>
</div>
<div class="authform">
<h3>Usuń konto</h3>
<p>Jeśli chcesz, możesz usunąć konto</p>
<%= button_to "Usuń konto", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %>
</div>
