<% content_for :background_image do %>
background-image: url(../images/crowd.jpg); background-size: cover;
<% end %>

<div id="login-page" class="row">
    <div class="col s6 offset-s3 z-depth-6 card-panel">

<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="input-field col s12 center">
        <img src=<%= image_path("avatar-001.jpg")%> alt="" class="responsive-img valign profile-image-login circle">            
        </div>
      </div>
      <div class="row margin">
        <div class="col s10 offset-s1">
           <%= f.label t('name'), class: "floating-label", :input_html => {'data-error'=> 'wrong', 'data-success'=>"right"}%>
           <%= f.text_field :name, :autofocus => true, class: 'validate', id:"name" %>
        </div>
      </div>
      <div class="row margin">
          <div class="col s10 offset-s1">
             <%= f.label t('email'), class: "floating-label", :input_html => {'data-error'=> 'wrong', 'data-success'=>"right"}%>
             <%= f.email_field :email, :autofocus => true, class: 'validate', id:"email" %>          
          </div>
        </div>
        <div class="row margin">
          <div class="col s10 offset-s1">
            <%= f.label t('password') %>
            <%= f.password_field :password , id:"password" %>              
          </div>
        </div>
        <div class="row margin">
          <div class="col s10 offset-s1">
            <%= f.label t('password_confirm') %>
            <%= f.password_field :password_confirmation, id: "passwordconfirmation" %>              
          </div>
        </div>
        <div class="row">      
            <div class="col s10 m10 l10 login-text offset-s1 offset-m1 offset-l1">
               <%= f.check_box :remember_me, id:'remember_me',  :class => "blue-grey lighten-2" %>
               <%= f.label t('remember_me'), for:'remember_me', id:'remember_me' %>
            </div>
          </div>
          <div class="row">
            <div class="col s10 center offset-s1">
              <button class="btn waves-effect waves-light col amber s12" type="submit" name="action" id="signup"> <%=t('create_account') %></button>          
            </div>
          </div>

        </div>
      </div>
  <% end %>
