<% content_for :welcome do %>
  <%= t('welcome') %>
<% end %>
<p class="flow-text"><%= t('your_competitions_details')%></p>
<% if current_user.competitions.count > 0 %>
  <div class="row">
    <% current_user.competitions.each do |cp| %>    
        <%= render partial: "competitions/show_as_card", locals: {competition: cp} %>    	
    <% end %>    
  </div>
<% else %>
<% content_for :background_image do %>
	background-image: url(../images/emptySeats.jpg); background-repeat:no-repeat; background-size: 100%; background-position: center; 
	<% end %>
	<div >
		<h2> <%= t('welcome') %> <%= current_user.name %></h2>
		<p>
			<%= t('not_in_competitions') %>
		</p>
	</div>	
<% end %>
	<div class="divider"></div>
	<br>
	<div class="row"> 
		<div class="col s12 center">
			<%= link_to t('all_open_competitions'), competitions_path, class: "btn waves-effect waves-light amber" %>
		</div>
	</div>