<%= simple_form_for(@competition) do |f| %>
  <%= f.error_notification %>

	<form class="form" action="index.html">
	<label for="competition_select"><%= t('choose_event')%></label>
	<select class="" name="competition[event_id]" id="competition_select">
		<option value="" disabled>Wybierz</option>
		<% Event.all.each do |event| %>
			<option value="<%= event.id %>" <%= @competition.event == event ? "selected" : ""%> ><%= event.name %></option>
		<% end %>
	</select>		
		<%= f.check_box :is_open, id:'is_open' %>
		<%= f.label t('is_open'), for:'is_open', id:'is_open' %>
		<p>
	    <%= link_to competitions_path, class: "btn btn-block waves-button waves-effect waves-light margin-no-top left-align" do %>
       		<%= t('back') %>
       	<% end %>
  		<button class="btn waves-effect waves-light right-align" type="submit" name="action"> <%= t('save') %>
			<i class="material-icons right">send</i>
		</button> 
	</p>
  	</form>
<% end %>
