<div class="col s12 m6">
  <div class="card blue-grey darken-2 hoverable">
    <div class="card-content white-text">
      <span class="card-title"><b><%= competition.event.name%></b></span><span class="badge teal lighten-2 white-text"><%=  competition.users.count%> <%= t('competitors') %> </span>
       <div>
        <%= t('created_by') %>
        <% if current_user == competition.creator %>
          <%= t('you_created_by') %>
        <% else %>
         <%= link_to competition.creator.email, competition.creator %>
        <% end %>
        <span class="right-align grey-text"><h3> <b><%= competition.id %></b></h3></span>
      </div>
    </div>
    <div class="card-action">
     <% if competition.user_belongs_to(current_user) %>
      <%= link_to competition do %>
        <%= t('show_competition') %>
      <% end %>
      <% else %>
        <%= link_to t('join'), competition_join_path(competition) %>
      <% end %>            
    </div>         
  </div>
</div>