<ul class="collection with-header">
	<% if @bets.empty? == false %>
	<% @bets.each do |bett| %>
		<% if bett.nil? %>

		<% else %>
			<% if bett.points_earned == 10 %>
		    <li class="collection-item green white-text"><%= bett.owner.name %>
		    	<span class="secondary-content white-text"><%= (Team.find bett.advancing_team).name %></span></li>
		    <% else %>
		    <li class="collection-item"><%= bett.owner.name %>
		    	<span class="secondary-content"><%= (Team.find bett.advancing_team).name %></span></li>		    
		    <% end %>
	    <% end %>
    <% end %>
	</ul>
	<% else %>
	</ul>
	<div class="center">
		<h5><%= t('none') %></h5>
	</div>
<% end %>