
<% content_for :welcome do %>
	<%= t('competition') %> <%= @competition.id %> 
<% end %>

<div class="row">
  	<div class="col s6">
	<%= render 'form' %>
	</div>
	<div class="col s6">
		<b>Atkualni uczestnicy:</b>
		<table class="highlight">
        	<thead>
          	<tr>
              <th data-field="id">Nazwa</th>
              <th data-field="name">E-mail</th>			           
          	</tr>
        	</thead>
        <tbody>        
		<% @competition.users.each do |user| %>
		   <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
			<td><%= link_to(t("X"), competition_remove_user_path(:usr => user), :data => { :confirm => "Jesteś pewien?" }, :method => :delete, :class => 'waves-effect waves-red btn red') %>
          </tr>		
		<% end %>
		</tbody>
	</table>
	<p>
		<b>Dodaj uczestnika:</b>
	</p>
	<p>
		<%= simple_form_for @competition, :url => competition_add_user_path, :method => :post do |f| %>

		<form class="form" action="index.html">		
		<select class="" name="usr" id="usr_select">
		<option value="" disabled>Wybierz</option>
			<% @candidates.each do |usr| %>
			<option value="<%= usr.id %>"><%= usr.name %> (<%= usr.email%>)</option>
		<% end %>
			</select>
		</p>
			<button class="btn waves-effect waves-light right-align" type="submit" name="action">
				Dodaj
			</button> 			 
			</form>
		<% end %>
	</div>
</div>