
<% content_for :welcome do %>
  <%= t('open_competitions') %>
<% end %>
<p class="flow-text">Rozgrywki publiczne, do których każdy może dołączyć:</p>
  <div class="row">
  	<% if @competitions.empty? %>
  	<div class="col s12 center">
  		<%= render partial: "layouts/empty" %>
  	</div>
  	<% else %>
		<% @competitions.each do |cp| %>
		    <%= render partial: "competitions/show_as_card", locals: {competition: cp} %>
		<% end %>
    <% end %>
  </div>

<br>
<div class="row">
	<div class="col s12 center">
	<% if can? :create, Competition %>		
		<br>
  		<%= link_to new_competition_path, :class => "waves-effect waves-light btn center amber" do %>
		<%= t('new_competition') %>
  		<i class="material-icons left">add</i>
  		<% end %>
  	<% else if @competitions.empty? %>
  	<h6 class="gray-text">
  		<%= t('no_competition') %>
  	</h6>
    <% end %>
	<% end %>
	</div>
</div>