
<% content_for :welcome do %>
  <%= link_to @competition.event.name, @competition %>
<% end %>


  <table class="striped">
    <thead>
      <tr>
          <th data-field="id"><%= t('position')%></th>
          <th data-field="name"><%= t('user')%></th>
          <th data-field="price"><%= t('score')%></th>
      </tr>
    </thead>

    <tbody>
    <% @scoreboard.each_with_index do |usr_and_score,index| %>
      <tr class="<%= index==0 ? 'green-text' : '' %>">
        <td>
          <%= index != 0 && @scoreboard[index-1][1] == @scoreboard[index][1] ? '' : index+1 %>
        </td>
        <td><%= usr_and_score[0].name %></td>
        <td><b><%= usr_and_score[1] %></b></td>
      </tr>
 	  <% end %>    
    </tbody>
  </table>

<!--<ul class="collection with-header" id="results">
        <li class="collection-header"><h4><%= t('results') %> </h4></li>
  <% @scoreboard.each_with_index do |usr_and_score,index| %>
	<li class="collection-item <%= index==0 ? 'green-text' : '' %><%= index==(@scoreboard.count-1) ? 'red-text' : '' %> "><div><b><%= index+1 %></b> | <%= usr_and_score[0].name %> (<%= usr_and_score[0].email %>)
		<span class="secondary-content"><%= usr_and_score[1] %></span></div></li>
  <% end %>
</ul> -->

<p>
	<div class="row">
	 <div class="col s2 offset-s10 back-button">
	 <%= link_to @competition, class: 'btn waves-effect waves-light' do %>
            <%= t('back') %>
          <% end %>
	</div>
    </div>
</p>
