
<% content_for :welcome do %>
  <%= @competition.event.name %>
  <% if current_user==@competition.creator %>
     <%= link_to edit_competition_path(@competition) do %>
      <i class="material-icons black-text">settings</i>
     <% end %>
  <% end %>
<% end %>

<% content_for :left_menu do %>
  <li>
    <%= link_to 'Wyniki', competition_results_path(@competition) %>
  </li>
<% end %> 

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">info</i>Zasady rozgrywek</div>
    <div class="collapsible-body">
      <p>
        <%= t('zasady') %>
      </p>
      <p>
        <%= t('zasady2') %> <span><i class="material-icons">view_list</i></span>  
      </p>
      <p>
      <b class="red-text">UWAGA!</b> Liczy się wyłącznie wynik w <b>regulaminowym</b> czasie gry! (bez ew. dogrywki i karnych).
    </p>
    </div>
  </li>
</ul>

<div class="row">
<div class="col s12" id="mybets">
    <!-- "przyczepiony" zakład na zwycięzcę-->
      <div class="section">
      <div class="row hoverable winner-row card-panel teal lighten-5">
      <div class="winner-bet-title">
        <p>
          <span class="title"><b><%= t('winner_bet') %></b>
          </span>
        </p>
      </div>
      <div class="winner-bet-container">
        <form id="winner-bet-form" class="form-inline">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
          <input type="hidden" name="bet[competition_id]" value="<%= params['id'] %>" />
          <input type="hidden" name="bet[bet_id]" value="<%= @winner_bet.blank? ? "" : @winner_bet.id %>">
          <input type="hidden" name="bet[home_score]" value="" />
          <input type="hidden" name="bet[away_score]" value="" />
          <input type="hidden" name="team-name" value="<%= @team.blank? ? "" : @team.name %>" />
          <input type="hidden" name="team-id" value="<%= @team.blank? ? "" : @team.id %>" />    
          <input type="hidden" name="team-flag" value="<%= @team.blank? ? "" : @team.flag.url(:tiny) %>" />
          <input type="hidden" name="deadline" value="<%= @competition.event.games.order('start_date ASC').first.start_date.strftime("%s000") %>">   
          <input type="hidden" name="is_editable" value="<%= @winner_bet_deadline_time.future? %>" />
          <input type="hidden" name="_method" value="post"/>
          <div id="winner-bet" class="row"></div>
          <% if @winner_bet_deadline_time.future? %>
           <div id="winner-deadline" class="winner-deadline"><%= @winner_bet_deadline_str %></div>
        <% end %>
        <script>
             var editWinnerHtml = '<div class="col s6"><select id="winner-dropdown" style="display: none" name="bet[advancing_team]" id="bet_select">' +
             '<option value="" disabled <%= @winner_bet.blank? ? "selected" : ""%>>Wybierz</option>' + 
             <% @competition.event.all_teams.each do |team| %>
            '<option value="<%= team.id %>" data-icon="<%= team.flag.url(:tiny) %>" class="circle left small" <%= (!@winner_bet.blank? && @winner_bet.advancing_team == team.id) ? "selected" : ""%> ><%= team.name %></option>' +
           <% end %>
         '</select><div class="bet-error-container"><span class="bet-error form-help form-help-msg text-red"></span></div></div><div class="bet-actions winner col s6"><a id="add-winner-button">ZAPISZ</a></div>';
         var displayAllBetsHtml = '<%= link_to competition_all_winner_bets_path(:id => @competition.id, :idc => @competition.id, :format => "js"), :remote => true do %><i class="material-icons">view_list</i><% end %>';
         var displayWinnerBetHtml = '<div class="display-winner-bet"><p class="label label-default bet-label <% if !@is_winner_bet_score.nil? %>green white-text<% end %>"><img class="z-depth-3" src=""><span class="winner-team-name"></span></p></div><div class="edit-bet-icon winner"><% if @winner_bet_deadline_time.future?%><i class="material-icons">edit</i><% else %>' + displayAllBetsHtml + '<%end%></div>';      
        </script>
        </form>
      </div>
    </div>
  </div>   
    
  </div>


</div>


<div class="row">
  <div class="col s12">
    <ul class="tabs blue-grey-text">
      <li class="tab col s3"><a class="blue-grey-text" href="#live"><%= t('live_games') %></a></li>
      <li class="tab col s3"><a class="active blue-grey-text" href="#incomming" ><%= t('incomming') %></a></li>
      <li class="tab col s3"><a class="blue-grey-text" href="#completed"><%= t('completed') %></a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col s12" id="live">
    <% if @live_games.empty? %>
      <%= render partial: "layouts/empty" %>
    <% else %>
      <% @live_games.each do |game| %>
        <%= render partial: "games/show_tile", locals: {game: game, bet: game.bet_for_user(current_user), comp: @competition} %>
      <% end %>
    <% end %>
  </div>
  
  
  <div class="col s12" id="incomming">     

  <% if @competition.event.games.incomming.empty? %>
      <%= render partial: "layouts/empty" %>
    <% else %>     
      <% @competition.event.games.incomming.group_by(&:day).each do |day, games| %>
        <div class="divider"></div>
        <div class="section">
        <h4><%= games.first.game_day %></h4>
        <% games.each do |game| %> 
          <%= render partial: "games/show_tile", locals: {game: game, bet: game.bet_for_user(current_user), comp: @competition} %>
        <% end %>
        </div>
      <% end %> 
    <% end %>
  </div>

  <div class="col s12" id="completed">
    <% if @completed_games.empty? %>
      <div class="col s12 center">
        <%= render partial: "layouts/empty" %>
      </div>
      <% else %>
        <% @completed_games.order("start_date DESC").group_by(&:day).each do |day, games| %>
          <div class="divider"></div>
          <div class="section">     
            <h4><%= games.first.game_day %></h4>
          <% games.each do |game| %> 
            <%= render partial: "games/show_tile", locals: {game: game, bet: game.bet_for_user(current_user), comp: @competition} %>
          <% end %>
          </div>
        <% end %> 
      <% end %>
  </div>
</div>

<div class="fixed-action-btn horizontal scale-transition scale-in tooltipped" data-position="left" data-delay="100" data-tooltip="Aktualne wyniki" style="bottom: 45px; right: 24px;">
  <%= link_to competition_results_path(@competition), class: "btn-floating btn-large amber" do %>
    <i class="large material-icons">insert_chart</i>
  <% end %> 
</div>

  <div id="allBetsModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h5> Typy wszystkich uczestników</h5>
      <separator>
      <div id="modalContent">
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><%= t('close') %></a>
    </div>
  </div>
<script>
(function($){
	$( document ).ready(function() {
        $('.bet-container').each(function() {
            $(this).displayBet();
        });
        $('#winner-bet').displayWinnerBet();
        $('.dropdown-button').dropdown();      
        $('select').material_select();  
        $(".button-collapse").sideNav({menuWidth: 320, activationWidth: 70, edge: 'right'});
        $('.modal-trigger').leanModal();          
        $('#messages').on('click', 'a', function(){
            $(this).closest('li').remove();
        });
        setIntervalAndExecute(function() {
		    $('#incomming .game-time').each(function() {
	        	var startTime = new Date(parseInt($(this).parent().find('input[name=game-time]').val()));
	        	var timeDifference = startTime.getTime() - new Date();
	        	if (timeDifference < 2 * 60 * 60 * 1000 && timeDifference > 0) {
	        		$(this).countdown({until: startTime, compact: true, onExpiry: function() {moveGameToLive($(this).parents('.match-row'));}});
	        	} else if (timeDifference <= 0) {
	        		moveGameToLive($(this).parents('.match-row'));
	        	}
	        });
        	var winnerStartTime = new Date(parseInt($('#winner-bet-form input[name=deadline]').val()));
        	var winnerTimeDifference = winnerStartTime.getTime() - new Date();
        	if (winnerTimeDifference < 2 * 60 * 60 * 1000 && winnerTimeDifference > 0) {
        		$('#winner-deadline').countdown({until: winnerStartTime, compact: true, onExpiry: function() {$('#winner-bet').disableWinnerBet();}});
        	} else if (winnerTimeDifference <= 0) {
        		$('#winner-bet').disableWinnerBet();
        	}
		}, 60 * 1000);
        Materialize.showStaggeredList('#results');
        $('html').bind("click touchend", function() {
        	$('.bet-container').each(function() {
	            $(this).displayBet();
	        });
	        if ($('#winner-bet input.select-dropdown').length > 0) {
	        	$('#winner-bet').displayWinnerBet();
	        }
        });
    });
})(jQuery);
</script>
