<%= simple_form_for(@bet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :game %>
    <%= f.association :competition %>
    <%= f.input :home_score %>
    <%= f.input :away_score %>
    <%= f.input :advancing_team %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
