<h1>Listing bets</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Competition</th>
      <th>Owner</th>
      <th>Home score</th>
      <th>Away score</th>
      <th>Advancing team</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.game_id %></td>
        <td><%= bet.competition_id %></td>
        <td><%= bet.owner_id %></td>
        <td><%= bet.home_score %></td>
        <td><%= bet.away_score %></td>
        <td><%= bet.advancing_team %></td>
        <td><%= link_to 'Show', bet %></td>
        <td><%= link_to 'Edit', edit_bet_path(bet) %></td>
        <td><%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bet', new_bet_path %>
