<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @bet.game_id %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @bet.competition_id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @bet.owner_id %>
</p>

<p>
  <strong>Home score:</strong>
  <%= @bet.home_score %>
</p>

<p>
  <strong>Away score:</strong>
  <%= @bet.away_score %>
</p>

<p>
  <strong>Advancing team:</strong>
  <%= @bet.advancing_team %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
