<td>
  <%= link_to user.name, user %>
</td>
<td>
  <%= user.email %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    <%= f.submit t('change_role'), :class => 'waves-effect waves-light btn' %>
  <% end %>
</td>
<td>
  <%= link_to(t("delete_user")	, user_path(user), :data => { :confirm => "Jesteś pewien?" }, :method => :delete, :class => 'waves-effect waves-red btn red') unless user == current_user %>
</td>
