<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3><%= t('forgot_password') %></h3>
    <p><%= t('well_send_instructions') %></p>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label t('email') %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
     <%= f.submit  t('reset_password'), :class => 'btn waves-effect waves-light right' %>
  <% end %>
</div>
