<% content_for :welcome do %>
	 Wszystkie wydarzenia:
<% end %>
<ul class='collection'>
  <% @events.each do |event| %>
    <li class="collection-item">
      <div>
        <%= event.name %>
        <div class='secondary-content'>      
        <%= link_to event_path(event) do %>
            <i class="left-align material-icons">arrow_forward</i>
          <% end %>
          <%= link_to(event, method: :delete, data: { confirm: 'Are you sure?' }) do %>
            <i class="material-icons">cancel</i>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<br>
<% if can? :create, Event %>
  <%= link_to(new_event_path) do %>
    <button name='Stwórz nowe', class='btn waves-effect waves-light right-align'/>
  <% end %>
<% end %>
