<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<h4>Mecze</h4>
 
<% @event.games.each do |game| %>
  <%= (render partial: 'games/show_basic', locals: { game: game } ) %>
<% end %> 

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
