<ul class="collection with-header">
	<li class="collection-header">
		<br>
		<%= (render partial: 'show_basic', locals: { game: @game } ) %>
	</li>
	<% if @bets.empty? == false %>
	<% @bets.each do |user, bett| %>
	<% if user != nil %>
		<% if bett.first.points_earned == 3 %>
			<li class="collection-item green white-text">	    			
		<% elsif bett.first.points_earned == 1 %>
			<li class="collection-item blue white-text">
		<% else %>
			<li class="collection-item black-text">
		<% end %>
	    
    	<% if current_user==user %> <b> <% end %>
    	<%= user.name %>
    	<% if current_user==user %> </b> <% end %>
    	<span class="secondary-content bet-score">
    	 <% if bett.first.points_earned == 3 || bett.first.points_earned == 1 %>
    	 <span class="white-text">
    	 <% else %>
    	 <span class="black-text">
    	 <% end %>
    		<%= bett.first.home_score %> - <%= bett.first.away_score %>	    
    	</span>
    	</span>    	
	    </li>
	    <% end %>
	    <% end %>
	</ul>
	<% else %>
	</ul>
	<div class="center">
		<h5><%= t('none') %></h5>
	</div>
<% end %>