<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>
    <div class="form-inputs">
    <%= f.association :event %>
      <div class="row">
        <div class='col s6'>
          <%= f.input :start_date, class: 'datepicker' %>
        </div>
        <div class='col s6'>
          <%= f.input :finish_date, class: 'datepicker' %>
        </div>
      </div>    
      <div class="row">
        <div class='col s6'>
          <%= f.association :home_team %>
          <br>
          <%= f.input :home_score %>
        </div>
        <div class='col s6'>
          <%= f.association :away_team %>
          <br>
          <%= f.input :away_score %> 
        </div>
      </div> <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Aktualizuj' , class: 'btn waves-effect waves-light right-align', id: 'aktualizuj' %>
  </div>
<% end %>
