
<div class="row hoverable match-row">
  <div class="match-details row">
    <div class="col s2 match-additional-info">
	  <p><span class="title"><b><%= game.game_group %></b></span></p><p class="location"><%= game.location %>,<br><%= game.city%></p>
    </div>
    <div class="col s4 left-align home-team">
    	<div class="flag">
    	<% if game.home_team != nil %>
	      <% if game.home_team.national %>
	          <%= image_tag game.home_team.flag.url(:tiny), :class => "z-depth-3" %>
	      <% else %>
	          <%= image_tag game.home_team.flag.url(:tiny) %>
	      <% end %>
	    <% else %>
	      <%= image_tag "tiny/missing.png" %>
	    <% end %>
     	</div>
     	<div class="team-name">
      		<span><%= game.home_team!=nil ? game.home_team.name.mb_chars.upcase : "-" %></span>
    	</div>
    </div>
    <div class= "col s2 center-align score">
    	<input type="hidden" name="game-time" value="<%=game.start_date.strftime("%s000")%>"/>  
    	<% if game.start_date.past? %>
		  	<% if game.home_score==nil || game.away_score == nil %>
		  		<span class="game-score">TRWA</span>
		  	<% else %>
		  	    <span class="game-score"><%= game.home_score.to_s + ":" + game.away_score.to_s %></span>
		  	<% end %>
		<% else %>
			<span class="game-time"><%= game.start_date.strftime("%H:%M") %></span>
	  	<% end %>
    </div>
    <div class="col s4 right-align away-team">
    	<div class="flag">
	      <% if game.away_team != nil %>
	        <% if game.away_team.national %>
	          <%= image_tag game.away_team.flag.url(:tiny), :class => "z-depth-3" %>
	        <% else %>
	          <%= image_tag game.away_team.flag.url(:tiny) %>
	        <% end %>
	      <% else %>
	        <%= image_tag "tiny/missing.png" %>
	      <% end %>
        </div>
    	<div class="team-name">
      		<span><%= game.away_team!=nil ? game.away_team.name.mb_chars.upcase : "-" %></span>
      	</div>
    </div>
  </div>
  
  <div class="bet-details">
    <div class="game-bet">  
	  <% if game.home_team.nil? || game.away_team.nil? %>

      <% else %> 
      <form class="form-inline">
	      <input type="hidden" name="prev-bet-home" value="<%= bet[0] == nil ? '' : bet[0].home_score %>"/>
	      <input type="hidden" name="prev-bet-away" value="<%= bet[0] == nil ? '' : bet[0].away_score %>"/>
	      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
	      <input type="hidden" name="bet[game_id]" value="<%= game.id %>" />
	      <input type="hidden" name="bet[competition_id]" value="<%= params['id'] %>" />
	      <input type="hidden" name="bet_id" value="<%= bet[0] == nil ? '' : bet[0].id %>" />
	      <input type="hidden" name="bet_score" value="<%=bet[0] == nil ? '' : bet[0].points_earned%>" />
	      <input type="hidden" name="_method" value="post"/>
	      <div class="bet-container">
	      	<div class="display-all-bets-icon">
	      	<%= link_to games_all_bets_path(:id => game.id, :idc => comp.id, :format => "js"), :remote => true do %>
	      		<i class="material-icons">view_list</i>
	      	<% end %>
	      	</div>
	      </div>
	    </form>    
      <% end %>
    </div>
  </div>
  
</div>
