<div class="row">
   <div class="col s1 offset-s2 flag">
     <% if game.home_team != nil %>
      <% if game.home_team.national %>
          <%= image_tag game.home_team.flag.url(:tiny), :class => "z-depth-3" %>
        <% else %>
          <%= image_tag game.home_team.flag.url(:tiny) %>
        <% end %>
      <% else %>
        <%= image_tag "tiny/missing.png" %>
      <% end %>
    </div>
    <div class="col s2 left-align team-name">
    	<span class="game-team-home"><%= game.home_team!=nil ? game.home_team.name.mb_chars.upcase : "-" %></span>
    </div>
    <div class= "col s2 center-align score">  
      <span class="game-score"><%= game.home_score==nil || game.away_score == nil ? "TRWA" : game. home_score.to_s + ":" + game.away_score.to_s %></span>
      <!--<p class=""><%= game.game_group %>, <%= game.start_date %><p/>-->
    </div>
    <div class="col s2 right-align team-name">
    	<span class="game-team-away"><%= game.away_team!=nil ? game.away_team.name.mb_chars.upcase : "-" %></span>
    </div>
    <div class="col s2 flag"> 
      <% if game.away_team != nil %>
        <% if game.away_team.national %>  
          <%= image_tag game.away_team.flag.url(:tiny), :class => "z-depth-3" %>
        <% else %>
          <%= image_tag game.away_team.flag.url(:tiny) %>
        <% end %>
      <% else %>
        <%= image_tag "tiny/missing.png" %>
      <% end %>
      <% if current_user.admin? %>
      <%= link_to edit_game_path(game) do %>
        <i class="material-icons">edit</i>
      <% end %>
        
      <% end %>
    </div>
</div>