<% content_for :welcome do %>
  All games
<% end %>
<% @games.group_by(&:event).each do |event, games| %>
  <h3><%= event.name%></h3>
  <div class="tile-wrap">
    <% games.each do |game| %>
      <%= render partial: "games/show_tile", locals: {game: game, bet: game.bet_for_user(current_user), comp: @competition} %>
    <% end %>
  </div>
<% end %>

<%= link_to 'New Game', new_game_path %>
