
<% content_for :background_image do %>
background-image: url(../images/crowd.jpg); background-size: cover;
<% end %>

<div id="login-page" class="row">
    <div class="col s6 offset-s3 z-depth-6 card-panel">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form', :class => 'login-form'}) do |f| %>
<%= devise_error_messages! %>      
<br>
  <div class="row">
    <div class="col s12 center">
      <img src=<%= image_path("avatar-001.jpg")%> alt="" class="responsive-img valign profile-image-login circle">            
    </div>
  </div>
  <div class="row margin">
    <div class="col s10 offset-s1">
      <!--<i class="mdi-social-person-outline prefix"></i>-->
       <%= f.label t('email'), :input_html => {'data-error'=> 'wrong', 'data-success'=>"right"}%>
       <%= f.email_field :email, :autofocus => true, class: 'validate', id:'email' %>          
    </div>
  </div>
  <div class="row margin">
    <div class="col s10 offset-s1">
    <!--  <i class="mdi-action-lock-outline prefix"></i>-->
      <%= f.label t('password') %>
      <%= f.password_field :password, id:'password' %>              
    </div>
  </div>
  <div class="row">      
    <div class="col s10 m10 l10 login-text offset-s1 offset-m1 offset-l1">
       <%= f.check_box :remember_me, id:'remember_me',  :class => "blue-grey lighten-2" %>
       <%= f.label t('remember_me'), for:'remember_me', id:'remember_me' %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s10 center offset-s1">
      <button class="btn waves-effect waves-light col amber s12" id="Signin" type="submit" name="action"> <%= t('sign_in') %> </button>          
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6 m6 l6 offset-s1 offset-m1 offset-l1">
      <p><%= link_to 'Nie masz konta?', new_registration_path(resource_name), :class => "blue-grey-text lighten-2"%></p>
    </div>
    <div class="input-field col s4 m4 l4">
        <p class="right"><%= link_to "Zapomniałem hasła", new_password_path(resource_name),  :class => "blue-grey-text lighten-2" %></p>
    </div>          
  </div>
    </div>
  </div>

<% end %>
