/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree
 */

@import "materialize";
//$primary-color: color("blue-grey", "") !default;
$primary-color: #607D8B !default;
$primary-color-dark: #455A64 !default;
$primary-color-light: #455A64 !default;
$primary-color-text: #FFFFFF !default;
$accent-color: #FFC107 !default;
$primary-text-color: #212121 !default;
$secondary-text-color: #727272 !default;
$divider-color: #B6B6B6 !default;

@import "style";
 