#error_explanation h2 {
  font-size: 20px;
  font-weight: bold;
}

#error_explanation {
  color: red;
}

.match-row {
  line-height: 110px;
}

.match-additional-info {
  line-height: 1.5;
  font-size: 14px;
}

.match-row .match-details {
  display: table-cell;
  width: 100%;
}

.match-row .match-details .row {
  margin-bottom: 0px;
}

.match-row .bet-details {
  display: table-cell;
  vertical-align: top;
}

.bet-container {
  position: relative;
}

.game-bet {
  width: 120px;
}

.game-bet .display-bet {
    font-size: 20px;
    line-height: 111px;
    margin-right: 10px;
    height: 110px;
    float: left;
}

.game-bet .display-bet .add-bet, .display-winner-bet .add-bet {
    color: #e0e0e0;
    font-size: 16px;
    padding: 0px 10px;
}

.display-winner-bet p {
    height: 50px;
}

.display-winner-bet .add-bet {
    line-height: 60px;
}

.game-bet .display-bet .bet {
    display: table-cell;
    width: 50px;
    vertical-align: top;
}

.game-bet .display-bet .edit-bet-icon {
    display: table-cell;
}

.game-bet .display-bet i, .game-bet .display-all-bets-icon i {
    margin-top: 43px;
    color: #8A8A8A;
    cursor: pointer;
}

.game-bet .edit-bet {
  position: absolute;
  left: 0px;
  text-align: center;
  border: 1px solid #e0e0e0;
  width: 160px;
  background-color: #fafafa;
  box-shadow: 10px 10px #8a8a8a;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}

.game-cell {
  line-height: 70px;
  width: 5%;
  margin:10px
}

.game-details {
  width: 15%
}

.team-name span {
  font-size: 19px;
  vertical-align: bottom;
}

.away-team .flag {
  float: left;
}

.away-team .team-name {
  float: left;
}

.flag {
  margin: 0px 10px;
}

#allBetsModal .flag {
  margin-right: 0px;
}
  
#allBetsModal .team-name {
  margin: 0;
}

.home-team .flag {
  float: right;
}

.home-team .team-name {
  float: right;
}

.game-score, .game-time {
  width: 10%;
  font-size: 19px;
  text-align: center;
  height: 100%;
}

.game-bet .bet-actions {
  line-height: 1.5;
  height: 50px;
  text-align: right;
  margin-right: 20px;
  margin-top: 10px;
}

.winner.bet-actions {
  line-height: 60px;
}

.bet-actions a {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.game-bet .bet-actions .save-button {
  margin-left: 10px;
}

.game-bet .bet-input {
  width: 34px;
  font-size: 20px;
  height: 50px;
  padding: 5px;
  align-self: center;
  text-align: center;
}

.game-bet .bet-input-group {
  height: 85px;
  text-align: left;
  margin-left: 20px;
}

.game-bet .bet-input-group .bet-score-colon {
  width: 20px;
}

.game-bet .btn {
  margin-left: 10px;
}

.bet-label {
  height: 36px;
  margin: 0px;
  align-self: center;
  line-height: 30px;
  padding: 10px;
  border-radius: 10px;
}

.game-buttons {
  width: 5%;
  vertical-align: baseline;
  display: flex;
}

.game-buttons .tile-action {
  align-self: center;
  display: flex !important;
}

.team-name {
  margin: 0px 10px;
}

.game-details-cell {
  line-height: 22px;
  color: #a0a0a0;
}

.game-group {
  font-weight: bold;
}

.match-details img {
  margin-top: 40px;
}

.match {
  line-height: 63px;
}

.game-bet .bet-container .bet-error-container {
  line-height: 20px;
  height: 20px;
  font-size: 12px;
  color: red;
  margin-left: 20px;
  text-align: left;
}

#winner-bet .bet-error-container {
  line-height: 0px;
  margin-left: 0px;
  height: 20px;
  font-size: 12px;
  color: red;
  text-align: left;
}

.game-bet .bet-container .bet-error-container .bet-error {
  margin: 0px;
  text-align: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.bet-list .bet-list-item {
  height: 50px;
  line-height: 30px;
}

.bet-list-item .user {
  float: left;
}

.bet-list-item .user-bet {
  float: right;
}

.winner-team-name {
  vertical-align: middle;
  font-size: 20px;
  margin-left: 15px;
}

.edit-bet-icon.winner {
  float: left;
  margin-left: 10px;
  line-height: 50px;
}

.winner .material-icons {
  vertical-align: middle;
}

.display-winner-bet {
  float: left;
}

.display-winner-bet img {
  vertical-align: middle;
}

.winner i {
  color: #8A8A8A;
  cursor: pointer;
}

#winner-bet.row {
  margin-bottom: 0px;
  width: 40%;
  float: left;
  margin: 0px;
  min-width: 200px;
}

#winner-bet .caret {
  line-height: 100%;
}

#winner-bet ul {
  min-width: 200px !important;
}

#winner-bet .add-bet {
  line-height: 64px;
}

.winner-deadline-text {
  float: left;
  font-weight: bold;
  line-height: 60px;
}

.winner-deadline {
  float: left;
  line-height: 60px;
  font-size: 20px;
}

.tabs {
  overflow: hidden;
}

@media all and (max-width: 1200px) {
  
  .container {
    width: 90%;
  }
  
}

@media all and (max-width: 900px) {
   
  .display-all-bets-icon {
    float: left;
    margin-top: 42px;
  }
  
  .row .col.match-additional-info {
    float: none;
    width: 100%;
    min-width: 100px;
    margin: 0px;
  }
    
  .row .location {
    display: none;
  }
  
  .row .col.home-team, .row .col.away-team {
    width: 41.66%;
  }
    
  .display-bet {
    margin-top: 42px;
  }
  
  .match-row .bet-details {
    height: 100%;
    vertical-align: middle;
  }
  
  .game-bet .edit-bet {
    left: auto;
    right: 0px;
  }
  
}

@media all and (max-width: 667px) {

  .row .col.card-panel {
    width: 100%;
    margin: 0px;
  }

  .row .col.away-team, .row .col.home-team {
    float: left;
    width: 60%;
    line-height: 60px;
  }
  
  .home-team .flag {
    float: left;
    margin: 0px;
  }
  
  .away-team .flag {
    margin: 0px;
  }
  
  .home-team .team-name {
    float: left;
  }
  
    
  .away-team .team-name, .home-team .team-name{
    vertical-align: middle;
  }
  
  .flag img {
    margin: 0px;
    vertical-align: middle;
  }
  
  .flag {
    margin: 0px;
  }
    
  .match-row {
    border-top: 1px solid #cfcfcf;
  }
  
  .row .col.score {
    float: right;
    width: 40%;
    height: 100%;
  }
  
  .row .back-button.col {
    width: 100%;
    margin: 0px;
    text-align: center;
  }
  
  #allBetsModal .flag {
    display: none;
  }
  
  #allBetsModal .team-name {
    width: 60%;
    text-align: left;
  }
  
  #allBetsModal .score {
    width: 40%;
    line-height: 50px;
    text-align: right;
  }
  
}

@media all and (max-width: 435px) {
  
  .row .col.away-team, .row .col.home-team {
    line-height: 60px;
    text-align: left;
    width:100%;
  }
  
  .row .col.score {
    width: 100%;
    line-height: 60px;
    text-align: left;
  }
  
}
