/* line 1, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/actions.css.scss */
.action-well input.boolean {
  float: left;
  height: auto;
  margin: 4px 8px;
  clear: both;
}
/* line 1, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
.upmin-model input.boolean {
  float: left;
  height: auto;
  margin: 4px 8px;
  clear: both;
}

/* line 8, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
ol.progbar {
  margin: 0 0 50px 0;
  padding: 0;
  list-style-typ: none;
}

/* line 14, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
ol.progbar li {
  display: inline-block;
  text-align: center;
  line-height: 3em;
}

/* line 20, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
ol.progbar[data-progbar-steps="2"] li {
  width: 49%;
}

/* line 21, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
ol.progbar[data-progbar-steps="3"] li {
  width: 33%;
}

/* line 22, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
ol.progbar[data-progbar-steps="4"] li {
  width: 24%;
}

/* line 23, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
ol.progbar[data-progbar-steps="5"] li {
  width: 19%;
}

/* line 24, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
ol.progbar[data-progbar-steps="6"] li {
  width: 16%;
}

/* line 25, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
ol.progbar[data-progbar-steps="7"] li {
  width: 14%;
}

/* line 26, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
ol.progbar[data-progbar-steps="8"] li {
  width: 12%;
}

/* line 27, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
ol.progbar[data-progbar-steps="9"] li {
  width: 11%;
}

/* line 29, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
ol.progbar li.progbar-done {
  color: black;
  border-bottom: 4px solid yellowgreen;
}

/* line 33, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
ol.progbar li.progbar-todo {
  color: silver;
  border-bottom: 4px solid silver;
}

/* line 38, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
ol.progbar li:after {
  content: "\00a0\00a0";
}

/* line 41, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
ol.progbar li:before {
  position: relative;
  bottom: -2.5em;
  float: left;
  left: 50%;
  line-height: 1em;
}

/* line 48, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
ol.progbar li.progbar-done:before {
  content: "\2713";
  color: white;
  background-color: yellowgreen;
  height: 1.2em;
  width: 1.2em;
  line-height: 1.2em;
  border: none;
  border-radius: 1.2em;
}

/* line 58, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/attributes.css.scss */
ol.progbar li.progbar-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  font-size: 1.5em;
  bottom: -1.6em;
}
/* line 4, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* line 8, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.navbar {
  background-color: #2c3e50;
}

/* line 18, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-yellow {
  color: #fff;
  background-color: #F1C40F;
  border-color: #F1C40F;
}
/* line 6, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-yellow:hover, .btn.btn-yellow:focus, .btn.btn-yellow:active, .btn.btn-yellow.active, .open > .btn.btn-yellow.dropdown-toggle {
  color: #fff;
  background-color: #c29d0b;
  border-color: #b8960b;
}
/* line 15, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-yellow:active, .btn.btn-yellow.active, .open > .btn.btn-yellow.dropdown-toggle {
  background-image: none;
}
/* line 23, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-yellow.disabled, .btn.btn-yellow.disabled:hover, .btn.btn-yellow.disabled:focus, .btn.btn-yellow.disabled:active, .btn.btn-yellow.disabled.active, .btn.btn-yellow[disabled], .btn.btn-yellow[disabled]:hover, .btn.btn-yellow[disabled]:focus, .btn.btn-yellow[disabled]:active, .btn.btn-yellow[disabled].active, fieldset[disabled] .btn.btn-yellow, fieldset[disabled] .btn.btn-yellow:hover, fieldset[disabled] .btn.btn-yellow:focus, fieldset[disabled] .btn.btn-yellow:active, fieldset[disabled] .btn.btn-yellow.active {
  background-color: #F1C40F;
  border-color: #F1C40F;
}
/* line 33, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-yellow .badge {
  color: #F1C40F;
  background-color: #fff;
}
/* line 18, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-orange {
  color: #fff;
  background-color: #F39C12;
  border-color: #F39C12;
}
/* line 6, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-orange:hover, .btn.btn-orange:focus, .btn.btn-orange:active, .btn.btn-orange.active, .open > .btn.btn-orange.dropdown-toggle {
  color: #fff;
  background-color: #c87f0a;
  border-color: #be780a;
}
/* line 15, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-orange:active, .btn.btn-orange.active, .open > .btn.btn-orange.dropdown-toggle {
  background-image: none;
}
/* line 23, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-orange.disabled, .btn.btn-orange.disabled:hover, .btn.btn-orange.disabled:focus, .btn.btn-orange.disabled:active, .btn.btn-orange.disabled.active, .btn.btn-orange[disabled], .btn.btn-orange[disabled]:hover, .btn.btn-orange[disabled]:focus, .btn.btn-orange[disabled]:active, .btn.btn-orange[disabled].active, fieldset[disabled] .btn.btn-orange, fieldset[disabled] .btn.btn-orange:hover, fieldset[disabled] .btn.btn-orange:focus, fieldset[disabled] .btn.btn-orange:active, fieldset[disabled] .btn.btn-orange.active {
  background-color: #F39C12;
  border-color: #F39C12;
}
/* line 33, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-orange .badge {
  color: #F39C12;
  background-color: #fff;
}
/* line 18, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-red {
  color: #fff;
  background-color: #E74C3C;
  border-color: #E74C3C;
}
/* line 6, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-red:hover, .btn.btn-red:focus, .btn.btn-red:active, .btn.btn-red.active, .open > .btn.btn-red.dropdown-toggle {
  color: #fff;
  background-color: #d62c1a;
  border-color: #cd2a19;
}
/* line 15, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-red:active, .btn.btn-red.active, .open > .btn.btn-red.dropdown-toggle {
  background-image: none;
}
/* line 23, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-red.disabled, .btn.btn-red.disabled:hover, .btn.btn-red.disabled:focus, .btn.btn-red.disabled:active, .btn.btn-red.disabled.active, .btn.btn-red[disabled], .btn.btn-red[disabled]:hover, .btn.btn-red[disabled]:focus, .btn.btn-red[disabled]:active, .btn.btn-red[disabled].active, fieldset[disabled] .btn.btn-red, fieldset[disabled] .btn.btn-red:hover, fieldset[disabled] .btn.btn-red:focus, fieldset[disabled] .btn.btn-red:active, fieldset[disabled] .btn.btn-red.active {
  background-color: #E74C3C;
  border-color: #E74C3C;
}
/* line 33, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-red .badge {
  color: #E74C3C;
  background-color: #fff;
}
/* line 18, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-dark_red {
  color: #fff;
  background-color: #AB3326;
  border-color: #AB3326;
}
/* line 6, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-dark_red:hover, .btn.btn-dark_red:focus, .btn.btn-dark_red:active, .btn.btn-dark_red.active, .open > .btn.btn-dark_red.dropdown-toggle {
  color: #fff;
  background-color: #81271d;
  border-color: #79241b;
}
/* line 15, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-dark_red:active, .btn.btn-dark_red.active, .open > .btn.btn-dark_red.dropdown-toggle {
  background-image: none;
}
/* line 23, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-dark_red.disabled, .btn.btn-dark_red.disabled:hover, .btn.btn-dark_red.disabled:focus, .btn.btn-dark_red.disabled:active, .btn.btn-dark_red.disabled.active, .btn.btn-dark_red[disabled], .btn.btn-dark_red[disabled]:hover, .btn.btn-dark_red[disabled]:focus, .btn.btn-dark_red[disabled]:active, .btn.btn-dark_red[disabled].active, fieldset[disabled] .btn.btn-dark_red, fieldset[disabled] .btn.btn-dark_red:hover, fieldset[disabled] .btn.btn-dark_red:focus, fieldset[disabled] .btn.btn-dark_red:active, fieldset[disabled] .btn.btn-dark_red.active {
  background-color: #AB3326;
  border-color: #AB3326;
}
/* line 33, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-dark_red .badge {
  color: #AB3326;
  background-color: #fff;
}
/* line 18, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-purple {
  color: #fff;
  background-color: #9B59B6;
  border-color: #9B59B6;
}
/* line 6, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-purple:hover, .btn.btn-purple:focus, .btn.btn-purple:active, .btn.btn-purple.active, .open > .btn.btn-purple.dropdown-toggle {
  color: #fff;
  background-color: #804399;
  border-color: #7a4092;
}
/* line 15, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-purple:active, .btn.btn-purple.active, .open > .btn.btn-purple.dropdown-toggle {
  background-image: none;
}
/* line 23, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-purple.disabled, .btn.btn-purple.disabled:hover, .btn.btn-purple.disabled:focus, .btn.btn-purple.disabled:active, .btn.btn-purple.disabled.active, .btn.btn-purple[disabled], .btn.btn-purple[disabled]:hover, .btn.btn-purple[disabled]:focus, .btn.btn-purple[disabled]:active, .btn.btn-purple[disabled].active, fieldset[disabled] .btn.btn-purple, fieldset[disabled] .btn.btn-purple:hover, fieldset[disabled] .btn.btn-purple:focus, fieldset[disabled] .btn.btn-purple:active, fieldset[disabled] .btn.btn-purple.active {
  background-color: #9B59B6;
  border-color: #9B59B6;
}
/* line 33, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-purple .badge {
  color: #9B59B6;
  background-color: #fff;
}
/* line 18, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-dark_blue {
  color: #fff;
  background-color: #2C3E50;
  border-color: #2C3E50;
}
/* line 6, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-dark_blue:hover, .btn.btn-dark_blue:focus, .btn.btn-dark_blue:active, .btn.btn-dark_blue.active, .open > .btn.btn-dark_blue.dropdown-toggle {
  color: #fff;
  background-color: #1a242f;
  border-color: #161f29;
}
/* line 15, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-dark_blue:active, .btn.btn-dark_blue.active, .open > .btn.btn-dark_blue.dropdown-toggle {
  background-image: none;
}
/* line 23, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-dark_blue.disabled, .btn.btn-dark_blue.disabled:hover, .btn.btn-dark_blue.disabled:focus, .btn.btn-dark_blue.disabled:active, .btn.btn-dark_blue.disabled.active, .btn.btn-dark_blue[disabled], .btn.btn-dark_blue[disabled]:hover, .btn.btn-dark_blue[disabled]:focus, .btn.btn-dark_blue[disabled]:active, .btn.btn-dark_blue[disabled].active, fieldset[disabled] .btn.btn-dark_blue, fieldset[disabled] .btn.btn-dark_blue:hover, fieldset[disabled] .btn.btn-dark_blue:focus, fieldset[disabled] .btn.btn-dark_blue:active, fieldset[disabled] .btn.btn-dark_blue.active {
  background-color: #2C3E50;
  border-color: #2C3E50;
}
/* line 33, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-dark_blue .badge {
  color: #2C3E50;
  background-color: #fff;
}
/* line 18, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-light_blue {
  color: #fff;
  background-color: #3498DB;
  border-color: #3498DB;
}
/* line 6, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-light_blue:hover, .btn.btn-light_blue:focus, .btn.btn-light_blue:active, .btn.btn-light_blue.active, .open > .btn.btn-light_blue.dropdown-toggle {
  color: #fff;
  background-color: #217dbb;
  border-color: #2077b2;
}
/* line 15, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-light_blue:active, .btn.btn-light_blue.active, .open > .btn.btn-light_blue.dropdown-toggle {
  background-image: none;
}
/* line 23, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-light_blue.disabled, .btn.btn-light_blue.disabled:hover, .btn.btn-light_blue.disabled:focus, .btn.btn-light_blue.disabled:active, .btn.btn-light_blue.disabled.active, .btn.btn-light_blue[disabled], .btn.btn-light_blue[disabled]:hover, .btn.btn-light_blue[disabled]:focus, .btn.btn-light_blue[disabled]:active, .btn.btn-light_blue[disabled].active, fieldset[disabled] .btn.btn-light_blue, fieldset[disabled] .btn.btn-light_blue:hover, fieldset[disabled] .btn.btn-light_blue:focus, fieldset[disabled] .btn.btn-light_blue:active, fieldset[disabled] .btn.btn-light_blue.active {
  background-color: #3498DB;
  border-color: #3498DB;
}
/* line 33, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-light_blue .badge {
  color: #3498DB;
  background-color: #fff;
}
/* line 18, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-blue_green {
  color: #fff;
  background-color: #18BC9C;
  border-color: #18BC9C;
}
/* line 6, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-blue_green:hover, .btn.btn-blue_green:focus, .btn.btn-blue_green:active, .btn.btn-blue_green.active, .open > .btn.btn-blue_green.dropdown-toggle {
  color: #fff;
  background-color: #128f76;
  border-color: #11866f;
}
/* line 15, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-blue_green:active, .btn.btn-blue_green.active, .open > .btn.btn-blue_green.dropdown-toggle {
  background-image: none;
}
/* line 23, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-blue_green.disabled, .btn.btn-blue_green.disabled:hover, .btn.btn-blue_green.disabled:focus, .btn.btn-blue_green.disabled:active, .btn.btn-blue_green.disabled.active, .btn.btn-blue_green[disabled], .btn.btn-blue_green[disabled]:hover, .btn.btn-blue_green[disabled]:focus, .btn.btn-blue_green[disabled]:active, .btn.btn-blue_green[disabled].active, fieldset[disabled] .btn.btn-blue_green, fieldset[disabled] .btn.btn-blue_green:hover, fieldset[disabled] .btn.btn-blue_green:focus, fieldset[disabled] .btn.btn-blue_green:active, fieldset[disabled] .btn.btn-blue_green.active {
  background-color: #18BC9C;
  border-color: #18BC9C;
}
/* line 33, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-blue_green .badge {
  color: #18BC9C;
  background-color: #fff;
}
/* line 18, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.btn.btn-green {
  color: #fff;
  background-color: #01C94F;
  border-color: #01C94F;
}
/* line 6, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-green:hover, .btn.btn-green:focus, .btn.btn-green:active, .btn.btn-green.active, .open > .btn.btn-green.dropdown-toggle {
  color: #fff;
  background-color: #01963b;
  border-color: #018c37;
}
/* line 15, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-green:active, .btn.btn-green.active, .open > .btn.btn-green.dropdown-toggle {
  background-image: none;
}
/* line 23, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-green.disabled, .btn.btn-green.disabled:hover, .btn.btn-green.disabled:focus, .btn.btn-green.disabled:active, .btn.btn-green.disabled.active, .btn.btn-green[disabled], .btn.btn-green[disabled]:hover, .btn.btn-green[disabled]:focus, .btn.btn-green[disabled]:active, .btn.btn-green[disabled].active, fieldset[disabled] .btn.btn-green, fieldset[disabled] .btn.btn-green:hover, fieldset[disabled] .btn.btn-green:focus, fieldset[disabled] .btn.btn-green:active, fieldset[disabled] .btn.btn-green.active {
  background-color: #01C94F;
  border-color: #01C94F;
}
/* line 33, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/button_mixins.scss */
.btn.btn-green .badge {
  color: #01C94F;
  background-color: #fff;
}

/* line 24, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label {
  margin-right: 10px;
  font-weight: 500;
}
/* line 32, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.yellow {
  background-color: #F1C40F;
}
/* line 32, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.orange {
  background-color: #F39C12;
}
/* line 32, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.red {
  background-color: #E74C3C;
}
/* line 32, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.dark_red {
  background-color: #AB3326;
}
/* line 32, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.purple {
  background-color: #9B59B6;
}
/* line 32, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.dark_blue {
  background-color: #2C3E50;
}
/* line 32, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.light_blue {
  background-color: #3498DB;
}
/* line 32, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.blue_green {
  background-color: #18BC9C;
}
/* line 32, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.label.green {
  background-color: #01C94F;
}

/* line 39, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.nilable-addon .form-group {
  margin-bottom: 0;
}
/* line 42, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.nilable-addon label {
  padding-top: 6px;
  padding-left: 28px;
}
/* line 46, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.nilable-addon input[type=checkbox] {
  margin-top: -17px !important;
}

/* line 51, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.new-button-wrapper {
  padding-top: 8px;
}

/* line 55, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.pagination:first-of-type {
  margin-bottom: 0px;
}

/* line 60, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard span {
  padding: 12px 12px 10px 12px;
  margin-right: 5px;
  background: #efefef;
  position: relative;
  display: inline-block;
}

/* line 61, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard span:before {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #fff;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

/* line 62, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard span:after {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #efefef;
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  z-index: 2;
}

/* line 63, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard span:first-child:before {
  border: none;
}

/* line 64, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard span:last-child:after {
  border: none;
}

/* line 66, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard span:first-child {
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

/* line 67, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard span:last-child {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

/* line 69, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard .badge {
  margin: 0 5px 0 18px;
  position: relative;
  top: -1px;
}

/* line 70, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard span:first-child .badge {
  margin-left: 0;
}

/* line 72, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard .current {
  background: #007ACC;
  color: #fff;
}

/* line 73, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/base.css.scss */
.wizard .current:after {
  border-left-color: #007ACC;
}
/* line 4, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.search-result-link .upmin-model {
  margin-bottom: 10px;
}

/* line 9, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model {
  padding: 20px;
  margin: 10px 0px 250px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
/* line 20, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.yellow {
  border-left-color: #F1C40F;
}
/* line 22, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.yellow > h3, .upmin-model.yellow > h4 {
  color: #F1C40F;
}
/* line 24, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.yellow > h3 > a, .upmin-model.yellow > h4 > a {
  color: #F1C40F;
}
/* line 20, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.orange {
  border-left-color: #F39C12;
}
/* line 22, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.orange > h3, .upmin-model.orange > h4 {
  color: #F39C12;
}
/* line 24, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.orange > h3 > a, .upmin-model.orange > h4 > a {
  color: #F39C12;
}
/* line 20, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.red {
  border-left-color: #E74C3C;
}
/* line 22, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.red > h3, .upmin-model.red > h4 {
  color: #E74C3C;
}
/* line 24, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.red > h3 > a, .upmin-model.red > h4 > a {
  color: #E74C3C;
}
/* line 20, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.dark_red {
  border-left-color: #AB3326;
}
/* line 22, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.dark_red > h3, .upmin-model.dark_red > h4 {
  color: #AB3326;
}
/* line 24, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.dark_red > h3 > a, .upmin-model.dark_red > h4 > a {
  color: #AB3326;
}
/* line 20, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.purple {
  border-left-color: #9B59B6;
}
/* line 22, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.purple > h3, .upmin-model.purple > h4 {
  color: #9B59B6;
}
/* line 24, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.purple > h3 > a, .upmin-model.purple > h4 > a {
  color: #9B59B6;
}
/* line 20, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.dark_blue {
  border-left-color: #2C3E50;
}
/* line 22, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.dark_blue > h3, .upmin-model.dark_blue > h4 {
  color: #2C3E50;
}
/* line 24, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.dark_blue > h3 > a, .upmin-model.dark_blue > h4 > a {
  color: #2C3E50;
}
/* line 20, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.light_blue {
  border-left-color: #3498DB;
}
/* line 22, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.light_blue > h3, .upmin-model.light_blue > h4 {
  color: #3498DB;
}
/* line 24, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.light_blue > h3 > a, .upmin-model.light_blue > h4 > a {
  color: #3498DB;
}
/* line 20, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.blue_green {
  border-left-color: #18BC9C;
}
/* line 22, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.blue_green > h3, .upmin-model.blue_green > h4 {
  color: #18BC9C;
}
/* line 24, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.blue_green > h3 > a, .upmin-model.blue_green > h4 > a {
  color: #18BC9C;
}
/* line 20, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.green {
  border-left-color: #01C94F;
}
/* line 22, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.green > h3, .upmin-model.green > h4 {
  color: #01C94F;
}
/* line 24, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model.green > h3 > a, .upmin-model.green > h4 > a {
  color: #01C94F;
}
/* line 31, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model h3 {
  margin-top: 6px;
  font-size: 1.3em;
}
/* line 35, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model h4 {
  margin-top: 4px;
  font-size: 1.1em;
}
/* line 39, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model h5 {
  margin-top: 24px;
  margin-bottom: 6px;
}
/* line 43, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model h6 {
  margin-top: 20px;
  margin-bottom: 6px;
}
/* line 48, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model dd {
  word-wrap: break-word;
}
/* line 53, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model .collection-search {
  margin-top: 10px;
  font-size: 1.1em;
}
/* line 59, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model .collection-search .input-group-btn button.btn-default {
  padding: 9px;
}
/* line 65, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model input {
  height: 40px;
  font-size: 1.1em;
}
/* line 70, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model .well {
  padding: 9px;
  margin-bottom: 0;
  min-height: 40px;
}
/* line 75, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model .well.action-well {
  margin-bottom: 32px;
}
/* line 80, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model a.active-tag-link {
  text-decoration: none;
}
/* line 82, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/instances.css.scss */
.upmin-model a.active-tag-link .label {
  padding: 4px 6px 5px 6px;
}
/*!
 * ClockPicker v0.0.7 for jQuery (https://weareoutman.github.io/clockpicker/)
 * Copyright 2014 Wang Shenwei.
 * Licensed under MIT (https://github.com/weareoutman/clockpicker/blob/gh-pages/LICENSE)
 * 
 * Bootstrap v3.1.1 (https://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/* Picked from bootstrap: .popover, .btn, .text-primary */


.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  /* The following are set in WordPress (wp-admin/css/revisions.css) - reset them to initial values */
  overflow:visible;
  margin:0;
  padding:0;
  z-index:auto;
  background-color:transparent;
  -webkit-box-shadow:none;
  box-shadow:none;
  bottom:auto;
  left:auto;
  right:auto;
  top:auto;
  -webkit-transform:none;
  -ms-transform:none;
  transform:none;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}
.btn {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;

}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-block {
  display: block;
  width: 100%;
}
.text-primary {
  color: #428bca;
}

/*!
 * ClockPicker v{package.version} for Bootstrap (https://weareoutman.github.io/clockpicker/)
 * Copyright 2014 Wang Shenwei.
 * Licensed under MIT (https://github.com/weareoutman/clockpicker/blob/gh-pages/LICENSE)
 */

.clockpicker .input-group-addon {
	cursor: pointer;
}
.clockpicker-moving {
	cursor: move;
}
.clockpicker-align-left.popover > .arrow {
	left: 25px;
}
.clockpicker-align-top.popover > .arrow {
	top: 17px;
}
.clockpicker-align-right.popover > .arrow {
	left: auto;
	right: 25px;
}
.clockpicker-align-bottom.popover > .arrow {
	top: auto;
	bottom: 6px;
}
.clockpicker-popover .popover-title {
	background-color: #fff;
	color: #999;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
}
.clockpicker-popover .popover-title span {
	cursor: pointer;
}
.clockpicker-popover .popover-content {
	background-color: #f8f8f8;
	padding: 12px;
}
.popover-content:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.clockpicker-plate {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	overflow: visible;
	position: relative;
	/* Disable text selection highlighting. Thanks to Hermanya */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.clockpicker-canvas,
.clockpicker-dial {
	width: 200px;
	height: 200px;
	position: absolute;
	left: -1px;
	top: -1px;
}
.clockpicker-minutes {
	visibility: hidden;
}
.clockpicker-tick {
	border-radius: 50%;
	color: #666;
	line-height: 26px;
	text-align: center;
	width: 26px;
	height: 26px;
	position: absolute;
	cursor: pointer;
}
.clockpicker-tick.active,
.clockpicker-tick:hover {
	background-color: rgb(192, 229, 247);
	background-color: rgba(0, 149, 221, .25);
}
.clockpicker-button {
	background-image: none;
	background-color: #fff;
	border-width: 1px 0 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin: 0;
	padding: 10px 0;
}
.clockpicker-button:hover {
	background-image: none;
	background-color: #ebebeb;
}
.clockpicker-button:focus {
	outline: none!important;
}
.clockpicker-dial {
	-webkit-transition: -webkit-transform 350ms, opacity 350ms;
	-moz-transition: -moz-transform 350ms, opacity 350ms;
	-ms-transition: -ms-transform 350ms, opacity 350ms;
	-o-transition: -o-transform 350ms, opacity 350ms;
	transition: transform 350ms, opacity 350ms;
}
.clockpicker-dial-out {
	opacity: 0;
}
.clockpicker-hours.clockpicker-dial-out {
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}
.clockpicker-minutes.clockpicker-dial-out {
	-webkit-transform: scale(.8, .8);
	-moz-transform: scale(.8, .8);
	-ms-transform: scale(.8, .8);
	-o-transform: scale(.8, .8);
	transform: scale(.8, .8);
}
.clockpicker-canvas {
	-webkit-transition: opacity 175ms;
	-moz-transition: opacity 175ms;
	-ms-transition: opacity 175ms;
	-o-transition: opacity 175ms;
	transition: opacity 175ms;
}
.clockpicker-canvas-out {
	opacity: 0.25;
}
.clockpicker-canvas-bearing,
.clockpicker-canvas-fg {
	stroke: none;
	fill: rgb(0, 149, 221);
}
.clockpicker-canvas-bg {
	stroke: none;
	fill: rgb(192, 229, 247);
}
.clockpicker-canvas-bg-trans {
	fill: rgba(0, 149, 221, .25);
}
.clockpicker-canvas line {
	stroke: rgb(0, 149, 221);
	stroke-width: 1;
	stroke-linecap: round;
	/*shape-rendering: crispEdges;*/
}
.clockpicker-button.am-button {
	margin: 1px;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 4px;
	
}
.clockpicker-button.pm-button {
	margin: 1px 1px 1px 136px;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 4px;
}
/* line 5, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search a.search-result-link {
  color: #333;
  text-decoration: none;
}
/* line 9, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search a.search-result-link:hover, .c-models.a-search a.search-result-link:active {
  color: #333;
}
/* line 15, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-container {
  padding-top: 7px;
}
/* line 20, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result {
  background-color: white;
  margin-bottom: 8px;
  position: relative;
  padding-left: 40px;
  min-height: 110px;
}
/* line 27, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result dl.dl-horizontal {
  margin-bottom: 4px;
}
/* line 31, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result em {
  font-weight: bold;
  color: #18BC9C;
  font-style: normal;
}
/* line 37, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer {
  position: absolute;
  top: 10px;
  left: -40px;
}
/* line 42, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer .icon-upper {
  color: white;
  border-radius: 8px 8px 0 0;
  padding: 0px 4px 0px 4px;
  width: 80px;
  height: 68px;
}
/* line 49, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer .icon-upper .icon-letter {
  color: white;
  font-size: 48px;
  text-align: center;
  line-height: 40px;
  padding-top: 4px;
}
/* line 57, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer .icon-upper .icon-name {
  color: white;
  font-size: 13px;
  text-align: center;
  padding-top: 4px;
}
/* line 65, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer .icon-lower {
  border-radius: 0 0 8px 8px;
  background-color: white;
  text-align: center;
}
/* line 72, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.yellow .icon-upper {
  background-color: #F1C40F;
}
/* line 75, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.yellow .icon-lower {
  border: 1px solid #F1C40F;
  color: #F1C40F;
}
/* line 81, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.orange .icon-upper {
  background-color: #F39C12;
}
/* line 84, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.orange .icon-lower {
  border: 1px solid #F39C12;
  color: #F39C12;
}
/* line 90, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.red .icon-upper {
  background-color: #E74C3C;
}
/* line 93, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.red .icon-lower {
  border: 1px solid #E74C3C;
  color: #E74C3C;
}
/* line 99, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.dark_red .icon-upper {
  background-color: #AB3326;
}
/* line 102, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.dark_red .icon-lower {
  border: 1px solid #AB3326;
  color: #AB3326;
}
/* line 108, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.purple .icon-upper {
  background-color: #9B59B6;
}
/* line 111, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.purple .icon-lower {
  border: 1px solid #9B59B6;
  color: #9B59B6;
}
/* line 117, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.dark_blue .icon-upper {
  background-color: #2C3E50;
}
/* line 120, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.dark_blue .icon-lower {
  border: 1px solid #2C3E50;
  color: #2C3E50;
}
/* line 126, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.light_blue .icon-upper {
  background-color: #3498DB;
}
/* line 129, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.light_blue .icon-lower {
  border: 1px solid #3498DB;
  color: #3498DB;
}
/* line 135, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.blue_green .icon-upper {
  background-color: #18BC9C;
}
/* line 138, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.blue_green .icon-lower {
  border: 1px solid #18BC9C;
  color: #18BC9C;
}
/* line 144, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.green .icon-upper {
  background-color: #01C94F;
}
/* line 147, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .search-results .search-result .icon-outer.green .icon-lower {
  border: 1px solid #01C94F;
  color: #01C94F;
}
/* line 158, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .list-model-facets li:before {
  content: "]";
  padding-left: 1px;
}
/* line 163, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .list-model-facets li {
  padding-left: 2px;
}
/* line 166, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .list-model-facets li.yellow:before {
  color: #F1C40F;
  background-color: #F1C40F;
}
/* line 170, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .list-model-facets li.orange:before {
  color: #F39C12;
  background-color: #F39C12;
}
/* line 174, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .list-model-facets li.red:before {
  color: #E74C3C;
  background-color: #E74C3C;
}
/* line 178, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .list-model-facets li.dark_red:before {
  color: #AB3326;
  background-color: #AB3326;
}
/* line 182, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .list-model-facets li.purple:before {
  color: #9B59B6;
  background-color: #9B59B6;
}
/* line 186, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .list-model-facets li.dark_blue:before {
  color: #2C3E50;
  background-color: #2C3E50;
}
/* line 190, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .list-model-facets li.light_blue:before {
  color: #3498DB;
  background-color: #3498DB;
}
/* line 194, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .list-model-facets li.blue_green:before {
  color: #18BC9C;
  background-color: #18BC9C;
}
/* line 198, /usr/local/rvm/gems/ruby-2.0.0-p643/gems/upmin-admin-0.1.01/app/assets/stylesheets/upmin/models.css.scss */
.c-models.a-search .list-model-facets li.green:before {
  color: #01C94F;
  background-color: #01C94F;
}


/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | https://dbushell.com/
 */


.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
https://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff !important;
    background: #ff8000 !important;
    box-shadow: none !important;
    border-radius: 3px !important;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


