
      
      


<!--
<nav class="menu menu-left nav-drawer nav-drawer-lg" id="menu">
    <div class="menu-scroll">
      <div class="menu-wrap">
        <div class="menu-content">  
          <%= link_to "Typer", root_url, :class => "menu-logo" %>
          <ul class="nav">
            <%= content_for?(:left_menu) ? yield(:left_menu) : ""%>
            <% if content_for?(:left_menu) %>
              <hr>
            <% end %>
            <li>
                <%= link_to t('your_competitions'), root_url, class: "waves-attach" %>
            <span class="menu-collapse-toggle collapsed" data-target="#form-elements" data-toggle="collapse"><i class="icon menu-collapse-toggle-close">close</i><i class="icon menu-collapse-toggle-default">add</i></span>
            <ul class="menu-collapse collapse" id="form-elements">
              <% current_user.competitions.each do |cp| %>
                  <% if !@competition.nil? %>
                    <% if @competition == cp %>
                    <li class="active">                
                      <%= link_to cp.event.name, cp %>
                    </li>
                    <% else %>
                    <li>                
                      <%= link_to cp.event.name, cp %>
                    </li>
                    <% end %>
                  <% else %>
                    <li>                
                      <%= link_to cp.event.name, cp %>
                    </li>
                  <% end %>
                <% end %>   
            </ul> 
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav> -->