<% if flash.count>0 %>
  <div class="center-align">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <% if name.to_s != 'notice' %>
            <span>
              <div class="chip white-text red lighten-1 center-align">
        <% else %>
            <span>
              <div class="chip">
        <% end %>
                <%= msg %>
                <i class="material-icons">close</i>
              </div>
            </span>
      <% end %>
    <% end %>
  </div>
<% end %>