<ul id="user_opts_dropdown" class="dropdown-content">
  <li><%= link_to t('edit_account'), edit_user_registration_path %></li>
  <li class="divider"></li>
  <li><%= link_to t('sign_out'), destroy_user_session_path, :method=>'get' %></li>
</ul>

<nav class="blue-grey" role="navigation">
  <div class="nav-wrapper">
    <ul class="right">
      <li><a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu medium right"></i></a> 
      </li>
    </ul>

    <%= link_to " typerr", root_path, :class => "brand-logo center", :id => "logo-container", :style => "font-family: 'Fredoka One'" %>

    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <% if current_user.try(:admin?) %>
          <li><%= link_to t('admin'), '/admin' %></li>
          <li><%= link_to t('users'), users_path %></li>
        <% end %>
          <li><a class="dropdown-button" href="#!" data-activates="user_opts_dropdown"><%= current_user.email %><i class="material-icons right">arrow_drop_down</i></a></li>
      <% else %>
        <% unless current_page?(new_user_session_path) %>
        <li><%= link_to t('sign_in'), new_user_session_path %></li>
        <% end %>
        <% unless current_page?(new_user_registration_path) %>
        <li><%= link_to t('sign_up'), new_user_registration_path %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</nav>  

<div id="slide-out" class="side-nav full">
  <ul class="">
    <% if user_signed_in? %>
      <% if current_user.try(:admin?) %>
        <li><%= link_to t('admin'), '/admin' %></li>
        <li><%= link_to t('users'), users_path %></li>
        <% end %>
        <li class="divider"></li>
        <li><%= link_to t('edit_account'), edit_user_registration_path %></li>
        <li class="divider"></li>
        <li><%= link_to t('sign_out'), destroy_user_session_path, :method=>'get', id:'signout' %></li>
      <% else %>
        <% unless current_page?(new_user_session_path) %>
        <li><%= link_to t('sign_in'), new_user_session_path %></li>
        <% end %>
        <% unless current_page?(new_user_registration_path) %>
        <li><%= link_to t('sign_up'), new_user_registration_path %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
