<nav class="menu menu-right" id="profile">
      <div class="menu-scroll">
        <div class="menu-wrap">
          <div class="menu-top">
            <div class="menu-top-img">
              <img alt="" src=<%= image_path("goal.jpg")%>/>
            </div>
            <div class="menu-top-info">
              <a class="menu-top-user" href="javascript:void(0)"><span class="avatar pull-left"><img alt="alt text for John Smith avatar" src=<%= image_path("avatar-001.jpg")%>></span><%= current_user.email %></a>
            </div>
            <div class="menu-top-info-sub">
              <small>Zarejestrowany <%= current_user.created_at %></small>
            </div>
          </div>
          <div class="menu-content">
            <ul class="nav">
              <li>
                <%= link_to edit_user_registration_path do %>
                <span class="icon icon-lg">account_box</span>
                Edytuj konto
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path do %>                  
                <span class="icon icon-lg">exit_to_app</span>
                Wyloguj się
                <% end %>
              </li> 
            </ul>
          </div>
        </div>
      </div>
    </nav>