<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= content_for?(:title) ? yield(:title) : t('app_name') %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('app_name') %>">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="initial-scale=1.0, width=device-width" name="viewport">
     <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <%= favicon_link_tag 'favicon.ico' %>
      <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body style= "<%= content_for?(:background_image) ? yield(:background_image) : ""%>">   
    <header class="header">
      <%= render 'layouts/navigation' %>  
      
    </header>
    <% if user_signed_in? %>

    <div class="content">
    <div class="content-heading">
      <div class="container">
        <div class="row">
            <h1 class="heading"><%= content_for?(:welcome) ? yield(:welcome) : "" %></h1>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="content-inner"> 
      <div class="container">
        <div class="row">
         <%= render 'layouts/messages' %> 
         <%= yield %>
        </div>
       <div>
      </div>
    </div>
    <% if user_signed_in? %>
    <footer class="page-footer blue-grey">
      <div class="footer-copyright">
        <div class="container center">
          <%= t('app_name') %> 2018
        </div>
      </div>
    </footer>    
    <% end %>
  </body>
</html>
